In [73]:
import decimal
import xmltodict
import pandas as pd
import numpy as np
import json
import os

In [74]:
os.getcwd()
os.chdir('D:\\jeiner\\jeinercastro\\datascience\\laboratorio1\\data')
mifact = 'D:\\jeiner\\jeinercastro\\datascience\\laboratorio1\\data\\fact.json'
f = open( mifact , "rb" )
jsonObjectFActuas = json.load(f)

In [75]:
items, cuotas = jsonObjectFActuas['items'] , []
subtotal, igv, valor_unit_item, monto_pendiente, total_cuotas = 0.00, 0.00, [], None, None

for i in items:
    price_item = round(float(i['PRC_VTA_UNIT_ITEM']), 2)
    i['PRC_VTA_UNIT_ITEM'] = price_item
    subtotal = round(subtotal + float(i['MNT_BRUTO']), 2)
    igv = round(igv + float(i['MNT_IGV_ITEM']), 2)


if jsonObjectFActuas.get('cuotas', None) is not None:
    cuotas = jsonObjectFActuas['cuotas']
    monto_pendiente = float(jsonObjectFActuas['MNT_PENDIENTE'])
    total_cuotas = 0.00
    for a in cuotas:
        total_cuotas = total_cuotas + float(a['MONTO_CUOTA'])

jsonObjectFActuas['items'] = items
total_fact = subtotal + igv
print(valor_unit_item)

[]

In [76]:
monto_pendiente = [ float(vas['MNT_IGV_ITEM']) for vas in jsonObjectFActuas['items']]
monto_pendiente =round( sum(monto_pendiente), 10)
print(monto_pendiente)

631.2

In [77]:
print(valor_unit_item)

[]

In [78]:

data = {'tipo': ['orden', 'factura'],
           'total':[jsonObjectFActuas['MNT_TOT'], total_fact],
           'subtotal': [jsonObjectFActuas['MNT_TOT_GRAVADO'], subtotal],
           'igv':[jsonObjectFActuas['MNT_TOT_TRIB_IGV'], igv],
           'monto_pendiente':[monto_pendiente, total_cuotas]}

df_result = pd.DataFrame(data)
df_result.head()

      tipo    total subtotal     igv  monto_pendiente
0    orden  4136.07  3505.14  601.93           631.20
1  factura  4136.01  3504.81   631.2          4136.04

In [ ]:
# output
with open("fact.json", 'w') as f:
    json.dump(jsonObjectFActuas, f)

# Closing file
f.close()